<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %} {% endblock title %}
        </title>
    </head>
    <body>
        <main>
            <header>
                <nav>
                    <ul>
                {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                        <li><a href="{% url 'login'%}">Login</a></li>
                        <li><a href="{% url 'signup'%}">Signup</a></li>
                    </ul>
                </nav>
            </header>
            {% endif %}
            {% block content %} {% endblock content %}
        </main>
    </body>
    </html>
