{% extends 'base.html' %}

{% block title%}Accounts{% endblock title %}
{% block content %}
<div>
    <h1>Accounts</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for account in account_list %}
            <tr>
                <td>{{ account.name }}</td>
                <td>{{ account.number }}</td>
                <td>{{ account.receipts.count }}</td>
            </tr>
        </body>
        </thead>
    </table>
</div>
        {% endfor %}
{% endblock content %}
