{% extends 'base.html' %}

{% block title%}Categories{% endblock title %}
{% block content %}
<div>
    <h1>Categories</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of Receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for category in category_list %}
            <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.receipts.count }}</td>
            </tr>
        </tbody>
    </table>
</div>
        {% endfor %}
{% endblock content %}
